<article class="card">
	<article class="grid gap-big">
		<div class="title">
			Custom Domain
			<p>Choose a custom domain for your workspace.</p>
		</div>
		<fieldset>
			<label>Subdomain</label>
			<div class="input-group">
				<span>
					https://www.
				</span>
				<input type="text" value="myappname">
				<span>
					.app.com
				</span>
			</div>
		</fieldset>
	</article>
	<article class="grid gap-big">
		<div class="title">Tax Information</div>
		<fieldset>
			<label>Business Tax ID</label>
			<input type="text" placeholder="XX-XXXXXXX">
		</fieldset>
		<p>By default, sales tax is automatically to all transactions. If your business is tax exempt, click the toggle below.</p>
		<fieldset>
			<div class="checkbox">
				<input type="checkbox" class="switch" id="b1" checked>
				<label for="b1">My business is exempt from taxes</label>
			</div>
		</fieldset>
	</article>
	<article class="grid gap-big">
		<div class="title">Contact Information</div>
		<div class="grid col-2 gap-medium">
			<fieldset>
				<label>Company Email</label>
				<input type="text" placeholder="Email" value="sales.myappname.com">
			</fieldset>
			<fieldset>
				<label>Phone Number</label>
				<input type="text" placeholder="Number" value="(317) 555-1518">
			</fieldset>
		</div>
	</article>
